.honeychain-bee {
  --bee-c1: #470601;
  --bee-c2: #ffc436;
  position: relative;
  container-type: inline-size;
  width: 45vmin;
  max-width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  translate: 0 15%;
  animation: honeychain-bee-fly 1s ease-in-out alternate infinite;
}

.honeychain-bee::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  background: linear-gradient(to bottom, var(--bee-c1) 75%, #260300);
  box-shadow:
    inset 0 60cqw 0 -40cqw var(--bee-c2),
    inset 0 80cqw 0 -40cqw var(--bee-c1),
    inset 0 110cqw 0 -40cqw var(--bee-c2);
}

.honeychain-bee::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  box-shadow: inset -30cqw 0cqw 0 -20cqw rgb(255 255 255 / 50%);
  mix-blend-mode: overlay;
}

.honeychain-bee-head {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 50%;
  width: 65cqw;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: inset -27cqw 0cqw 0 -20cqw color-mix(in srgb, var(--bee-c1), red 15%);
  background-color: var(--bee-c1);
  translate: -50% -45%;
  animation: honeychain-bee-blink 3s infinite 1s;
}

.honeychain-bee-head::before,
.honeychain-bee-head::after {
  content: "";
  position: absolute;
  aspect-ratio: 1 / 1.5;
  border-radius: 50%;
  background-color: #fff;
}

.honeychain-bee-head::before {
  top: 18%;
  left: 25%;
  width: 6cqw;
}

.honeychain-bee-head::after {
  top: 14%;
  right: 25%;
  width: 9cqw;
}

.honeychain-bee-antenna {
  --antenna-border: 5cqw;
  --antenna-angle: 80deg;
  position: absolute;
  z-index: 2;
  bottom: 45%;
  left: -30%;
  width: 45cqw;
  aspect-ratio: 1;
  padding: var(--antenna-border);
  border-radius: 50%;
  background-color: var(--bee-c1);
  --antenna-gradient:
    / var(--antenna-border) var(--antenna-border) no-repeat
    radial-gradient(closest-side at 50% 50%, #000 calc(100% - 1px), #0000);
  mask:
    top var(--antenna-gradient),
    calc(50% + 50% * sin(var(--antenna-angle)))
      calc(50% - 50% * cos(var(--antenna-angle))) var(--antenna-gradient),
    linear-gradient(#0000 0 0) content-box intersect,
    conic-gradient(#000 var(--antenna-angle), #0000 0);
}

.honeychain-bee-antenna:last-child {
  --antenna-border: 7cqw;
  scale: -1 1;
  bottom: 53%;
  left: 65%;
}

.honeychain-bee-sting {
  --sting-width: 30cqw;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  width: var(--sting-width);
  aspect-ratio: 1 / 1.5;
  border-radius: 50%;
  border-right: 20cqw solid #260300;
  translate: calc(-50% - var(--sting-width) / 2) -70%;
}

.honeychain-bee-wings::before,
.honeychain-bee-wings::after {
  content: "";
  position: absolute;
  top: 30%;
  z-index: 2;
  width: 55cqw;
  aspect-ratio: 150 / 70;
  border-radius: 33% 33% 50% 50% / 15% 15% 85% 85%;
  background-color: #dcdac6;
  animation: honeychain-bee-wing .06s infinite alternate;
}

.honeychain-bee-wings::before {
  right: 90%;
  transform: rotate(25deg);
  transform-origin: center right;
  box-shadow:
    -1cqw -1cqw 0 0 color-mix(in srgb, #dcdac6, black 2.5%),
    inset -0.5cqw -0.5cqw 0 0 color-mix(in srgb, #dcdac6, white 50%);
}

.honeychain-bee-wings::after {
  left: 90%;
  transform: rotate(-25deg);
  transform-origin: center left;
  box-shadow:
    1cqw -1cqw 0 0 color-mix(in srgb, #dcdac6, black 2.5%),
    inset 0.5cqw -0.5cqw 0 0 color-mix(in srgb, #dcdac6, white 50%);
}

@keyframes honeychain-bee-fly {
  to {
    translate: 0 -5%;
  }
}

@keyframes honeychain-bee-blink {
  2% {
    scale: 1 0.2;
  }

  4%,
  100% {
    scale: 1;
  }
}

@keyframes honeychain-bee-wing {
  to {
    transform: rotate(0deg);
  }
}
