SUPABASE_URL=https://your-project-ref.supabase.co
SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
PORT=8000
APP_ENV=development
FRONTEND_URL=https://honeychain-icix.onrender.com
FRONTEND_URLS=http://localhost:8000, http://127.0.0.1:8000, https://honeychain-icix.onrender.com
