SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
HONEYCHAIN_ADMIN_EMAILS=
FRONTEND_URLS=http://localhost:8000/, http://127.0.0.1:8000/, https://honeychain-icix.onrender.com/
SUPABASE_STORAGE_BUCKET=kyc-documents
SUPABASE_BEE_IMAGE_BUCKET=bee-images
PORT=8000
APP_ENV=development
SUPABASE_CERTIFICATE_BUCKET=honey-certificates
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-120b